ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080

ConnectionStrings__DefaultConnection=Server=TU_SERVIDOR_SQL;Database=TU_DB;User Id=TU_USUARIO;Password=TU_PASSWORD;TrustServerCertificate=True;MultipleActiveResultSets=true

Jwt__Issuer=ZagaPro
Jwt__Audience=ZagaProClient
Jwt__Key=CAMBIAR_POR_UN_SECRETO_DE_64_CARACTERES_O_MAS
Jwt__ExpiresMinutes=120

Cors__AllowedOrigins__0=https://invoice.familyapp.store
Cors__AllowedOrigins__1=https://www.invoice.familyapp.store
Cors__AllowedOrigins__2=https://zagapro.app
Cors__AllowedOrigins__3=https://www.zagapro.app

Email__From=no-reply@zagapro.app
Email__DevPrintEmails=false
Support__Email=gerardojao@gmail.com

Smtp__Host=smtp.resend.com
Smtp__Port=587
Smtp__User=resend
Smtp__Pass=CAMBIAR_POR_API_KEY_SMTP
Smtp__From=no-reply@zagapro.app

Trials__LinkSecret=CAMBIAR_POR_UN_SECRETO_LARGO_PARA_LINKS_DE_PRUEBA
Trials__Hours=24

Frontend__BaseUrl=https://invoice.familyapp.store
Frontend__LandingBaseUrl=https://invoice.familyapp.store
App__LandingBaseUrl=https://invoice.familyapp.store
App__FrontendBaseUrl=https://invoice.familyapp.store
App__AppBaseUrl=https://invoice.familyapp.store
